@page
<form asp-controller="Service" asp-action="Create" method="post" enctype="multipart/form-data" data-persist="garlic" data-domain="true" v-on:submit="onSubmit">
    <div class="row">
        <p><i>Поля, отмеченные звездочкой (*), обязательны для заполнения.</i></p>
        <div class="col-md-12 border rounded">
            <p><i>Сведения о ребенке</i></p>
            <!--Тут будет поле с ребенком CreateChild-->
            @*await Html.PartialAsync("CreateChild", Social.Domain.DTOs.ChildDTO);*@
            @await Component.InvokeAsync("Child")
        </div>
        <div class="col-md-12 border rounded my-2">
            <p><i>Сведения о родителе/законном представителе</i></p>
            @await Component.InvokeAsync("Represent")
            <!--CreateRepresent-->
        </div>
        <div class="col-md-12 border rounded my-2">
            <p><i>Сведения об отдыхе</i></p>
            @*<div id="crimea-view" data-url="@Url.Action(action: "Crimea", controller: "Persons")"></div>*@
            <!--Список доступных направлений-->
            @await Component.InvokeAsync("Holiday")
        </div>
        <div class="col-md-12 border rounded my-2">
            <p><i>Документы</i></p>
            <!--Файлы для загрузки DocsModel-->
            @await Component.InvokeAsync("Docs")
        </div>
        <div class="col-md-8 my-2">
            <div class="form-group">
                @*Html.Recaptcha(RecaptchaSettings.Value)*@
                @{ if (DateTime.Now >= new DateTime(2021, 02, 01, 09, 00, 00))
                    {
                        var dateNow = DateTime.Now;
                        @Html.Raw($"<p class='text-danger'>Подачи заявлений начнется: 01.02.2021 с 09:00. Текущая дата: {dateNow} </p>");
                    }
                    else
                    {
                        @Html.Raw("<input type='submit' value='Отправить заявку' class='btn btn-primary' />");
                    }
                }
                @*<p v-if="errors.length">
            <b>Пожалуйста исправьте указанные ошибки:</b>
            <ul>
                <li v-for="error in errors">{{ error }}</li>
            </ul>
        </p>*@
                
            </div>
        </div>
    </div>
</form>

