@page
@model Social.UI.Pages.ReceivedModel
@{
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <lt>
                <lt class="lt-highlighter__wrapper">
                    <lt class="lt-highlighter__scrollElement">
                    </lt>
                </lt>
            </lt>
            <div class="jumbotron">
                <h2>
                    Hello, world @ViewBag.Message!
                </h2>
                <p>
                    This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
                </p>
            </div>
        </div>
    </div>
</div>