@model Social.Domain.DTOs.ChildDTO

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="SurnameChild" class="control-label"></label>
            <input asp-for="SurnameChild" class="form-control" required="true" />
            <span asp-validation-for="SurnameChild" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="NameChild" class="control-label"></label>
            <input asp-for="NameChild" class="form-control" required="true" />
            <span asp-validation-for="NameChild" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="PatronymicChild" class="control-label"></label>
            <input asp-for="PatronymicChild" class="form-control" required="true" />
            <span asp-validation-for="PatronymicChild" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Bdate" class="control-label"></label>
            <input asp-for="Bdate" class="form-control" required="true" onchange="validate_date" />
            <span asp-validation-for="Bdate" class="text-danger"></span>
        </div>
    </div>
</div>
