@model Social.Domain.DTOs.RepresentDTO

<div class="row">
    <div class="col-md-12">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" asp-for="IsLegalRepresent" id="inlineRadio1" value="0" checked v-on:click="legal = 0" />
            <label class="form-check-label" for="inlineRadio1">Родитель</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" asp-for="IsLegalRepresent" id="inlineRadio2" value="1" v-on:click="legal = 1" />
            <label class="form-check-label" for="inlineRadio2">Законный представитель</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="SurnameRepresent" class="control-label"></label>
            <input asp-for="SurnameRepresent" v-model.trim="SurnameRepresent" v-touppercase class="form-control" />
            <span asp-validation-for="SurnameRepresent" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="NameRepresent" class="control-label"></label>
            <input asp-for="NameRepresent" v-model.trim="NameRepresent" v-touppercase class="form-control" />
            <span asp-validation-for="NameRepresent" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="PatronymicRepresent" class="control-label"></label>
            <input asp-for="PatronymicRepresent" v-model.trim="PatronymicRepresent" v-touppercase class="form-control" />
            <span asp-validation-for="PatronymicRepresent" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="PhoneMobile" class="control-label"></label>
            <input asp-for="PhoneMobile" v-model.trim="PhoneMobile" class="form-control" v-mask="'+7(###)###-####'" />
            <span asp-validation-for="PhoneMobile" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="PhoneHome" class="control-label"></label>
            <input asp-for="PhoneHome" class="form-control" />
            <span asp-validation-for="PhoneHome" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
</div>