@model Social.Domain.DTOs.RepresentDTO

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="SurnameRepresent" class="control-label"></label>
            <input asp-for="SurnameRepresent" class="form-control" />
            <span asp-validation-for="SurnameRepresent" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="NameRepresent" class="control-label"></label>
            <input asp-for="NameRepresent" class="form-control" />
            <span asp-validation-for="NameRepresent" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="PatronymicRepresent" class="control-label"></label>
            <input asp-for="PatronymicRepresent" class="form-control" />
            <span asp-validation-for="PatronymicRepresent" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="PhoneMobile" class="control-label"></label>
            <input asp-for="PhoneMobile" class="form-control" data-mask="+7(999) 999-99-99" />
            <span asp-validation-for="PhoneMobile" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="PhoneHome" class="control-label"></label>
            <input asp-for="PhoneHome" class="form-control" />
            <span asp-validation-for="PhoneHome" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
</div>


