<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Заявление на социальную поддержку</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    Дополнительная мера социальной поддержки
                </a>
                @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>*@
            </div>
        </nav>
    </header>
    <div class="container" id="app">

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top  text-muted">
        <div class="container">
            <p>Специалист для консультации по заполнению формы Барышникова Кристина Олеговна тел. 52-57-18.</p>
            <p>Специалист по техническим вопросам Ефанов Александр Егорович тел. 52-28-47.</p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/vue/vue.min.js"></script>
    <script src="~/lib/vue-the-mask/vue-the-mask.min.js"></script>
    <script src="~/lib/garlic.js/garlic.min.js"></script>

    @RenderSection("Scripts", required: false)

</body>
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            legal: 0,
            errors: [],
            SurnameChild: null,
            PatronymicChild: null,
            NameChild: null,
            PatronymicChild: null,
            Bdate: null,
            SurnameRepresent: null,
            NameRepresent: null,
            PatronymicRepresent: null,
            PhoneMobile: null
        },

        methods: {
            onSubmit(e) {
                const file = this.$refs.file.files[0];

                if (!file) {
                    e.preventDefault();
                    alert('No file chosen');
                    return;
                }

                if (file.size > 1024 * 1024) {
                    e.preventDefault();
                    alert('File too big (> 1MB)');
                    return;
                }
                alert('File OK');
            },
            checkForm: function (e) {
                if (this.SurnameChild && this.NameChild && this.SurnameRepresent && this.NameRepresent && this.PhoneMobile && this.Bdate) {
                    return true;
                }

                if (!this.NameChild) {
                    this.errors.push('Требуется указать имя ребенка.');
                }
                if (!this.SurnameChild) {
                    this.errors.push('Требуется указать фамилию ребенка.');
                }
                if (!this.Bdate) {
                    this.errors.push('Требуется указать дату рождения.');
                }
                if (!this.NameRepresent) {
                    this.errors.push('Требуется указать имя родителя.');
                }
                if (!this.SurnameRepresent) {
                    this.errors.push('Требуется указать фамилию родителя.');
                }
                if (!this.PhoneMobile) {
                    this.errors.push('Требуется указать мобильный телефон.');
                }

                e.preventDefault();
            }
        },
        directives: {
            touppercase: {
                update(el) {
                    el.value = el.value.replace(/[a-zа-я]+/gi, (match) => match[0].toUpperCase() + match.substr(1))
                },
            }
        }
    })
</script>
<script type="text/javascript">
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
    function ValidateSize(file) {
        var FileSize = file.files[0].size / 1024 / 1024; // in MB
            if(FileSize > 5)
        alert('Внимание! Размер файла превышает 5 мегабайт.');
    }
</script>
</html>
