@{
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <lt>
                <lt class="lt-highlighter__wrapper">
                    <lt class="lt-highlighter__scrollElement">
                    </lt>
                </lt>
            </lt>
            <div class="jumbotron">
                <h2>
                    Ваше заявление №@ViewBag.Message отправлено в департамент образования!
                </h2>
            </div>
        </div>
    </div>
</div>